.footer {
  position: absolute;
  background-color: $color-dark-grey;
  color: $color-dark-white;
  width: 100%;
  bottom: 0;

  &__items {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-size: 0.9rem;
    height: 355px;
    align-items: center;
    flex-wrap: wrap;
    @include tablet-up {
      justify-content: space-between;
      display: flex;
      height: 160px;
    }
  }

  &__copyright {
    padding: 1rem 0;
    // @include tablet-up{
    //   padding-bottom: 0;
    // }
  }

  &__contacts {
    display: block;
    justify-content: center;
    padding-bottom: 0.7rem;
    @include tablet-up {
      display: flex;
      padding-bottom: 0;
    }
  }

  &__contacts-person {
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
    @include tablet-up {
      text-align: left;
    }
  }

  &__contacts-item {
    padding: 0.2rem 0;
  }
  //
  // &__contacts-item:nth-child(2) {
  //   padding-left: 10px;
  // }
}
