header {
  background-color: $color-dark-blue;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu {
  padding-bottom: 10px;

  &__toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .logo {
    font-size: 2rem;
    margin-top: 10px;
    display: inline-block;
    letter-spacing: 1px;
    color: $color-white;
    @include tablet-up{
      margin-top: 0;
    }
  }

  &__list {
    display: none;
    align-items: center;
  }

  &__item {
    text-align: center;
    margin: 20px auto;
    &--admin{
      display: inline-flex;
    }
  }

  &__link {
    color: $color-dark-white;
    font-weight: 500;

    &--active {
      color: $color-white;
      font-weight: 600;
    }
    &--admin{
      display: flex;
    }
  }

  &__img{
    height: auto;
    &--admin{
    min-width: 40px;
    width: 40px;
    }
    &--logout{
      min-width: 30px;
      padding-bottom: 4px;
      width: 30px;
    }
  }
}
/*---must be here-----*/

.active-menu {
  display: block;
}
/*--------------------*/
@include tablet-up {
  .menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    height: 70px;
    &__item--admin{
      display: block;
    }
    &__toggle {
      display: none;
    }
    &__list {
      display: flex;
    }

    &__link {
      margin-left: 40px;
      transition: 0.3s;

      &:hover {
        color: $color-hover-white;
      }
      &--admin-logout{
        margin-left: 5px;
      }
    }
    &__img--logout{
          padding-bottom: 0;
    }
  }
}
