$color-dark-blue: #011936;
$color-pink: #EA526F;
$color-dark-red: #5B2333;
$color-orange: #FF8966;
$color-white: #fff;
$color-dark-white:#eee;
$color-hover-white:#ccc;
$color-dark-grey: #2B2B2A;
$color-light-grey: #3C3D3C;
$color-placeholder-text: #D3D3D3;
