@import "variables";
@import "reset";
@import "media";
@import "header";
@import "footer";


.map {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-bottom: 100px;
  /* overflow: hidden;
  display: block; */
}

main {
  padding-top: 49px;
  @include tablet-up {
    padding-top: 70px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.hero {
  background-image: url("/cms/img/hero_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  &__container {
    padding-top: 7rem;
    padding-bottom: 6rem;
    @include tablet-up {
      padding-top: 11rem;
      padding-bottom: 10rem;
    }
  }

  &__title {
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 700;
    @include tablet-up {
      font-size: 3rem;
    }
  }

  &__text {
    color: $color-dark-white;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1.5rem;
    @include tablet-up {
      font-size: 1.5rem;
    }
  }
}

.buttons-wrapper {
  margin-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  padding: 0.9rem 2rem;
  color: $color-white;
  font-weight: 500;
  margin: 0.5rem;
  border-radius: 2px;

  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }

  &--orange {
    background-color: $color-orange;
  }

  &--pink {
    background-color: $color-pink;
  }
}

.section-container {
  padding-bottom: 4rem;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $color-dark-grey;
}
/*----------about section---------*/
.about {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    padding: 0 1rem 4rem;
    @include tablet-up {
      width: 33.33333%;
    }
  }

  &__img {
    max-width: 60px;
    margin: auto;
  }

  &__name {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.7rem 0 1.2rem;
    color: $color-dark-grey;
  }

  &__text {
    font-size: 0.9rem;
    font-weight: 400;
    color: $color-light-grey;
  }
}
/*----------citation section---------*/
.citation {
  padding: 4rem 0;
  background: rgb(234,82,111);
  background: linear-gradient(90deg, rgba(234,82,111,1) 0%, rgba(255,255,255,1) 100%);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include tablet-up{
      justify-content: start;
      padding-left: 10rem;
    }
  }

  &__text {
    font-weight: 500;
    color: $color-dark-grey;
    }

  &__img {
    display: none;
    @include tablet-up {
      display: block;
      width: 30rem;
      position: absolute;
      right: 3rem;
    }
  }
}

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
}

table th {
  table-align: left;
}

table td {
  padding: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #bbb;
}

label {
  display: block;
  margin-bottom: 20px;
}
