@import "variables";
@import "reset";
@import "media";
@import "header";
@import "footer";

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-bottom: 75px;
  @include tablet-up {
    padding-bottom: 60px;
  }
}

main {
  padding-top: 49px;
  @include tablet-up {
    padding-top: 70px;
  }
}

.anchor {
  position: absolute;
  top: -40px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.section-container {
  padding-bottom: 4rem;
  position: relative;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $color-dark-grey;
  font-weight: 600;
  @include tablet-up {
    padding-bottom: 4rem;
  }

  &--gallery {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  &--light {
    color: $color-white;
  }
}

.buttons-wrapper {
  margin-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &--gallery {
    margin-top: 0;
  }

  &--form {
    margin-top: 1.5rem;
    @include tablet-up {
      justify-content: start;
    }
  }
}

.button {
  padding: 0.9rem 2rem;
  color: $color-white;
  font-weight: 500;
  margin: 0.5rem;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }

  &:focus {
    outline: none;
  }

  &--orange {
    background-color: $color-orange;
  }

  &--pink {
    background-color: $color-pink;
  }

  &--outline {
    background-color: transparent;
    color: $color-orange;
    outline: $color-orange;
    border: 1px solid $color-orange;

    &:hover {
      background-color: $color-orange;
      opacity: 1;
      transition: 0.2s;
      color: $color-white;
    }
  }

  &--selected {
    background-color: $color-orange;
    outline: $color-orange;
    border: 1px solid #FF8966;
    color: $color-white;

    &:hover {
      opacity: 1;
      transition: 0.2s;
    }
  }

  &--form {
    margin: 0;
    border: none;
  }
}
/*-----------hero section-----------*/

.hero {
  background-image: url("/cms/img/hero_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  &__container {
    padding-top: 7rem;
    padding-bottom: 6rem;
    @include tablet-up {
      padding-top: 13rem;
      padding-bottom: 12rem;
    }
  }

  &__title {
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 700;
    @include tablet-up {
      font-size: 3rem;
    }
  }

  &__text {
    color: $color-dark-white;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1.5rem;
    @include tablet-up {
      font-size: 1.5rem;
    }
  }
}
/*-----------about section-----------*/
.about {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    padding: 0 1rem 4rem;
    @include tablet-up {
      width: 33.33333%;
    }
  }

  &__img {
    max-width: 60px;
    margin: auto;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.7rem 0 1.2rem;
    color: $color-dark-grey;
  }

  &__text {
    font-size: 1rem;
    font-weight: 400;
    color: $color-light-grey;
  }
}
/*----------citation section---------*/
.citation {
  padding: 4rem 0;
  background: rgb(234,82,111);
  background: linear-gradient(90deg, rgba(234,82,111,1) 0%, rgba(255,255,255,1) 100%);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include tablet-up {
      justify-content: start;
      padding-left: 10rem;
    }
  }

  &__text {
    font-weight: 500;
    color: $color-dark-grey;
  }

  &__img {
    display: none;
    @include tablet-up {
      display: block;
      width: 30rem;
      position: absolute;
      right: 3rem;
    }
  }
}
/*----------gallery section----------*/
.gallery {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  &__item {
    width: 100%;
    padding: 1rem;
    @include tablet-up {
      // width: 33.33333%;
      width: 25%;
      max-width: 300px;
    }
  }

  &__img {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;

    &:before {
      background-color: $color-light-grey;
      position: absolute;
      height: 100%;
      content: '';
      width: 100%;
      opacity: 0.1;
      max-width: 300px;
      border-radius: 2px;
    }
  }

  &__text {
    background-color: $color-light-grey;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    z-index: 1;
    color: $color-dark-white;
    font-weight: 300;
    padding: 0.8rem 1rem;
    border-radius: 0 0 2px 2px;
    text-align: left;
    font-size: 0.8rem;
  }

  &__thumb {
    border-radius: 2px;
  }
}
/*----------contacts section---------*/

.contacts {
  background-color: $color-light-grey;
  color: $color-dark-white;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  &__title {
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 2rem;
  }
}

.form {
  padding: 1rem;
  width: 100%;
  text-align: center;
  @include tablet-up {
    width: 60%;
    text-align: left;
  }

  &__field {
    max-width: 500px;
    padding-bottom: 1rem;
    margin: auto;
    @include tablet-up {
      margin: 0;
    }

    input,
    textarea {
      background-color: $color-light-grey;
      border: 1px solid $color-white;
      border-radius: 2px;
      width: 100%;
      padding: 10px;
      resize: none;
      color: $color-white;

      &::placeholder {
        color: $color-placeholder-text;
      }

      &:focus {
        border-color: $color-orange;
        outline: none;
      }
    }
  }
}

.location {
  padding: 1rem;
  width: 100%;
  text-align: center;
  @include tablet-up {
    width: 40%;
    text-align: left;
  }

  &__address {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    justify-content: center;
    @include tablet-up {
      justify-content: start;
    }
  }

  &__text {
    padding-left: 0.5rem;
  }

  .map {
    &__iframe {
      width: 100%;
      height: 220px;
      border-radius: 2px;
    }
  }
}
/*----------------gallery page--------------------*/

.gallery-page {
  padding-bottom: 4rem;
}
/*------------------news page--------------------*/

.news {
  max-width: 800px;
  margin: auto;
  padding-bottom: 4rem;

  &__item {
    margin-bottom: 2rem;
    border-radius: 2px;
    text-align: left;
    padding: 1.5rem 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  &__title {
    font-weight: 500;
    font-size: 1.3rem;
    color: $color-dark-grey;
  }

  &__date {
    font-weight: 300;
    font-size: 0.8rem;
    color: $color-light-grey;
    padding: 1rem 0 0.5rem;
  }

  &__text {
    text-align: justify;
    color: $color-light-grey;
    padding-bottom: 1rem;
  }

  &__link {
    color: $color-pink;
  }
}
/*---------------------------------*/

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
}

table th {
  table-align: left;
}

table td {
  padding: 5px;
}

label {
  display: block;
  margin-bottom: 20px;
}
